@{
    ViewData["Title"] = "Interview App";
}

<div class="text-center">
    <h1>Welcome to my humble abode</h1>

    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <p>Add, Edit, Delete students</p>
                <a class="btn btn-primary" asp-controller="Students" asp-action="List">
                    <img src="~/images/students.jpg" alt="students" class="img-thumbnail" />
                </a>
            </div>
        </div>
    </div>

</div>
