@{
    ViewData["Title"] = "Privacy";
}

<div class="text-center">
    <h1>Nothing to see here</h1>

    <p>Please, kindly, go away.</p>

    <img src="~/images/go-away.jpg" alt="go away" class="img-thumbnail" />
</div>
